<p>
  <%= image_tag(profile.avatar_url, class: "profile-avatar")%>
</p>

<div class="basic-info">
  <p>
    <%= profile.name %> <br>
    <%= profile.login %>
  </p>

  <p>
    <%= profile.email %>
  </p>

  <p>
    <%= profile.join_date(profile.login)  %>
  </p>
  <p>
    Followers: <%= profile.followers %>
  </p>

<!-- need to get logic out -->
  <p>
    Starred: <%= starred.count %>
  </p>

  <p>
    Following: <%= profile.following %>
  </p>
</div>

<div class="owner-repositories">
  <h4>Popular repositories</h4>
<% owner_repos.each do |repo_name| %>
  <li> <%= link_to repo_name.name, repo_name.html_url %> </li>
<% end %>
</div>

<div class="member-repositories">
  <h4>Repositories contributed to</h4>
<% member_repos.each do |repo_name| %>
  <li> <%= link_to repo_name.full_name, repo_name.html_url %> </li>
<% end %>
</div>

<div class="all-repositories">
  <h4>Repositories</h4>
<% all_repos.each do |repo_name| %>
  <li> <%= link_to repo_name.name, repo_name.html_url %> <br> Updated on <%= repo_name.updated_at.to_time %></li>
<% end %>
</div>
