<p>
  <%= image_tag(profile.avatar_url, class: "profile-avatar")%>
</p>

<div class="basic-info">
  <p>
    <%= profile.name %> <br>
    <%= profile.login %>
  </p>

  <p>
    <%= profile.email %>
  </p>

  <p>
    <%= profile.join_date(current_user)  %>
  </p>
  <p>
    Followers: <%= profile.followers %>
  </p>

  <p>
    Starred: <%= profile.starred_count(current_user) %>
  </p>

  <p>
    Following: <%= profile.following %>
  </p>
</div>

<div class="owner-repositories">
  <h4>Popular repositories</h4>
  <% profile.owner_repos(current_user).each do |repo_name| %>
    <li> <%= link_to repo_name.name, repo_name.html_url %> </li>
  <% end %>
</div>

<div class="member-repositories">
  <h4>Repositories contributed to</h4>
  <% profile.member_repos(current_user).each do |repo_name| %>
    <li> <%= link_to repo_name.full_name, repo_name.html_url %> </li>
  <% end %>
</div>

<div class="all-repositories">
  <h4>Repositories</h4>
  <% profile.all_sorted(current_user).each do |repo_name| %>
    <li> <%= link_to repo_name.name, repo_name.html_url %> <br> Updated on <%= repo_name.updated_at.to_time %></li>
  <% end %>
</div>
